* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Header {
    padding: 10px;
    color: #fff;
    align-items: center;

    .all {
        background-color: rgba(43, 52, 59, 1);
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
    }

    a {
        text-decoration: none;
    }

    .Header_left-text {
        a {
            color: #fff;
            padding: 20px;
        }
    }

    .header_right-gmail {
        align-items: center !important;

        i {
            font-size: 20px;
            margin-right: 10px;
        }

        a {
            color: #fff;
        }
    }

    .center {
        color: red;
        opacity: 1;
    }
}

.header_right-gmail {
    margin-left: 11rem;
}

.strainght_line {
    border-left: thick solid #f00;
}

.header-right {
    border-left: 1px solid #fff;
}

.header_right_icons {
    i {
        font-size: 18px;
        margin-left: 10px;
    }
}

#Lider_services {
    padding-top: 2rem;
    background-color: rgba(239, 244, 248, 1);
    padding-bottom: 2rem;

    .phone_number {
        i {
            color: rgba(0, 113, 187, 1);
        }

        a {
            color: black;
            font-size: 17px;
            font-weight: 500;
            margin-left: 3px;
            text-decoration: none;
        }
    }
}

.section_right_images-secont {
    background-color: paleturquoise;
}

.section_right_images {
    background: linear-gradient(180deg, #f32735 0%, #a7111c 100%);
    width: 55%;
    height: 50px;
    border-radius: 7px;
    display: flex;
    text-align: center;

    i {
        color: #fff;
        font-size: 20px;
        margin-top: 13px;
        margin-left: 1rem;
    }

    p {
        font-family: Roboto;
        font-size: 30px;
        font-style: italic;
        font-weight: 900;
        line-height: 35px;
        color: #fff;
        margin-top: 6px;
    }
}

#options {
    background: linear-gradient(90deg, #016baf 0%, #034a78 100%);
    padding-top: 1rem;
    font-size: 17px;

    ul {
        display: flex;
        justify-content: space-around;
        color: #fff;
        text-align: center;
    }

    li {
        list-style: none;
    }

    select {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
    }
}

#Footer {
    margin-bottom: 2rem;

    .Footer-left-logo {
        p {
            color: rgba(119, 126, 131, 1);
            margin-top: 1rem;
            width: 250px;
        }

        i {
            font-size: 30px;
            color: rgba(0, 113, 187, 1);
            padding: 5px;
        }
    }

    .Footer-left_map {
        h4 {
            border-left: 5px solid rgba(0, 113, 187, 1);
            padding-left: 1rem;
            margin-left: 3rem;
        }

        .ul {
            display: flex;

            li {
                list-style: none;
                padding: 10px;

                i {
                    list-style: none;
                    margin-right: 2px;
                    color: rgba(0, 113, 187, 1);
                }

                a {
                    text-decoration: none;
                    color: rgba(43, 52, 59, 1);
                }
            }

            ul {
                li {
                    i {
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .Footer_bottom {
        color: rgba(151, 151, 151, 1);
    }
}

#Header_photo {
    .image {
        width: 100%;
        left: 0;
        right: 0;
    }

    .color {
        background-color: #0071bb;
    }
}

#Zemanet {
    background: #F8F9FA;

    .container_b {
        padding: 10px;
    }

    .container {
        .center {
            margin-top: 2rem;
            padding: 45px;
            background-color: #fff;
            -webkit-box-shadow: 0 4px 4px rgb(0, 0, 0, 15%);
            box-shadow: 0 4px 4px rgb(0, 0, 0, 15%);

            img {
                width: 100%;
            }

            h1 {
                margin-top: 2rem;
            }

            p {
                margin-top: 1rem;
            }

            .center-left {
                margin-top: 1rem;

                i {
                    font-size: 25px;
                    color: rgba(0, 113, 187, 1);
                }

                li {
                    list-style: none;
                }
            }

            .center-right {
                margin-top: 1rem;

                i {
                    font-size: 25px;
                    color: rgba(0, 113, 187, 1);
                }

                li {
                    list-style: none;
                }
            }
        }
    }
}
